Package: qtspim
Version: 9.0
Architecture: i386
Section: devel
Priority: extra
Homepage: http://www.cs.wisc.edu/~larus/SPIM.html
Maintainer: James Larus <spim@larusstone.org>
Depends: libqtcore4 (>= 4.6), libqtgui4 (>= 4.6), qt4-dev-tools
Description: The QtSpim program is a self-contained simulator
 that runs MIPS32 programs. It reads and executes
 assembly language programs written for this processor.
 QtSpim also provides a simple debugger and minimal
 set of operating system services.
 QtSpim does not execute binary (compiled) programs.
