<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='QtSpim' Manufacturer='LarusStone'
           Id='bf588941-3a73-421f-a619-cdabff1acbc7'
           UpgradeCode='acf14497-9bbe-4d3d-b0b2-7b599eb18984'
           Language='1033' Codepage='1252' Version='9.1.19'>
    <Package Id='*' Keywords='Installer' Description='QtSpim Installer'
             Comments='Copyright by James R. Larus. All rights reserved.'
             Manufacturer='LarusStone' InstallerVersion='100' Languages='1033'
             Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='QtSpim.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value='QtSpim Installer' />

    <!-- UI: -->
	<UIRef Id='WixUI_InstallDir' />
	<Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONROOTDIRECTORY' />
	<WixVariable Id='WixUILicenseRtf' Value='cache/QtSpim_License.rtf' />
	<WixVariable Id='WixUIDialogBmp' Value='cache/WiXBanner.bmp' />


    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='APPLICATIONROOTDIRECTORY' Name='QtSpim.'>

          <!-- C:/Program Files/QtSpim: -->
          <Component Id='QtSpimExecutable' Guid='d1d697b9-71fe-4e5c-8aad-afc197d44e65'>
            <File Id='QtSpimEXE' Name='QtSpim.exe' DiskId='1'
                  Source='cache/QtSpim.exe'
                  KeyPath='yes' Checksum='yes'>
              <Shortcut Id='startmenuQtSpim' Directory='ProgramMenuDir' Name='QtSpim'
                        WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon='QtSpim.exe' IconIndex='0'
						Advertise='yes' />
              <Shortcut Id='desktopQtSpim' Directory='DesktopFolder' Name='QtSpim'
                        WorkingDirectory='APPLICATIONROOTDIRECTORY' Icon='QtSpim.exe' IconIndex='0'
						Advertise='yes' />
            </File>
          </Component>

          <Component Id='QtAssistant' Guid='94426962-4920-478b-8f75-19055d28f2b5'>
            <File Id='AssistantEXE' Name='Assistant.exe' DiskId='1'
                  Source='cache/assistant.exe'
                  KeyPath='yes' Checksum='yes'>
            </File>
          </Component>

		  <Component Id='NewIcon' Guid='e488141f-4148-4ef0-8d35-f027d69bab47'>
            <File Id='NewIconICO' Name='NewIcon.ico' DiskId='1'
                  Source='cache/NewIcon.ico' KeyPath='yes'>
            </File>
          </Component>

		  <Component Id='NewIcon256x256' Guid='97132bd9-0a5e-4f66-ba7e-edb4ed00ec23'>
            <File Id='NewIcon256x256PNG' Name='NewIcon256x256.png' DiskId='1'
                  Source='cache/NewIcon256x256.png' KeyPath='yes'>
            </File>
          </Component>

		  <Component Id='HelloWorld' Guid='07210b9e-3b9e-4c8b-86f7-47a3c0a50067'>
            <File Id='HelloWorldS' Name='HelloWorld.s' DiskId='1'
                  Source='cache/HelloWorld.s' KeyPath='yes'>
            </File>
          </Component>


		  <!-- DLLs: -->
          <Component Id='Qt5CLuceneDLL' Guid='ef727b9a-a2b7-472f-a12f-b78600547bef'>
            <File Id='Qt5CLuceneDLL' Name='Qt5CLucene.dll' DiskId='1'
                  Source='cache/Qt5CLucene.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5CoreDLL' Guid='9d3a2e2a-7205-4dc6-b7bd-286f90252716'>
            <File Id='Qt5CoreDLL' Name='Qt5Core.dll' DiskId='1'
                  Source='cache/Qt5Core.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5GuiDLL' Guid='fe3c04cc-847b-4c82-b788-f564acd1a865'>
            <File Id='Qt5GuiDLL' Name='Qt5Gui.dll' DiskId='1'
                  Source='cache/Qt5Gui.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5HelpDLL' Guid='8dc69a1f-909b-45f0-86a8-cbc89563eba1'>
            <File Id='Qt5HelpDLL' Name='Qt5Help.dll' DiskId='1'
                  Source='cache/Qt5Help.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5MultimediaDLL' Guid='78094d3b-21ed-45b3-8065-8e83faa17500'>
            <File Id='Qt5MultimediaDLL' Name='Qt5Multimedia.dll' DiskId='1'
                  Source='cache/Qt5Multimedia.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5MultimediaWidgetsDLL' Guid='3f610e92-67e3-47e2-a345-6dae1c3f4434'>
            <File Id='Qt5MultimediaWidgetsDLL' Name='Qt5MultimediaWidgets.dll' DiskId='1'
                  Source='cache/Qt5MultimediaWidgets.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5NetworkDLL' Guid='95c5df54-859f-4fd2-8fbf-de1f4f599b2f'>
            <File Id='Qt5NetworkDLL' Name='Qt5Network.dll' DiskId='1'
                  Source='cache/Qt5Network.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5OpenGLDLL' Guid='af651112-a90d-4665-9aa9-877c64a97ab7'>
            <File Id='Qt5OpenGLDLL' Name='Qt5OpenGL.dll' DiskId='1'
                  Source='cache/Qt5OpenGL.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5PositioningDLL' Guid='401a3e25-23f4-4617-a85e-4a4a81b7eaef'>
            <File Id='Qt5PositioningDLL' Name='Qt5Positioning.dll' DiskId='1'
                  Source='cache/Qt5Positioning.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5PrintSupportDLL' Guid='161294c0-9284-46fc-b717-c57b2037fae5'>
            <File Id='Qt5PrintSupportDLL' Name='Qt5PrintSupport.dll' DiskId='1'
                  Source='cache/Qt5PrintSupport.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5QmlDLL' Guid='294b4b37-30a2-4093-8939-987196970230'>
            <File Id='Qt5QmlDLL' Name='Qt5Qml.dll' DiskId='1'
                  Source='cache/Qt5Qml.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5QuickDLL' Guid='42bc9e95-294b-4c25-b84d-4bdafa51885e'>
            <File Id='Qt5QuickDLL' Name='Qt5Quick.dll' DiskId='1'
                  Source='cache/Qt5Quick.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5SensorsDLL' Guid='743eb3e4-94ed-482c-8e85-1f4072f2abb9'>
            <File Id='Qt5SensorsDLL' Name='Qt5Sensors.dll' DiskId='1'
                  Source='cache/Qt5Sensors.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5SqlDLL' Guid='d01062fe-66ec-4fc3-9504-91046a798d3f'>
            <File Id='Qt5SqlDLL' Name='Qt5Sql.dll' DiskId='1'
                  Source='cache/Qt5Sql.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5WebChannelDLL' Guid='b0bc29cd-fb0c-46ab-89bd-e868124f9992'>
            <File Id='Qt5WebChannelDLL' Name='Qt5WebChannel.dll' DiskId='1'
                  Source='cache/Qt5WebChannel.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5WebKitDLL' Guid='71428487-094e-4585-bbad-97e12d30c20f'>
            <File Id='Qt5WebKitDLL' Name='Qt5WebKit.dll' DiskId='1'
                  Source='cache/Qt5WebKit.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5WebKitWidgetsDLL' Guid='59062299-f544-48e3-891f-099dd808d576'>
            <File Id='Qt5WebKitWidgetsDLL' Name='Qt5WebKitWidgets.dll' DiskId='1'
                  Source='cache/Qt5WebKitWidgets.dll' KeyPath='yes' />
          </Component>

          <Component Id='Qt5WidgetsDLL' Guid='a5fad59a-1f46-4c83-9218-c563f7f3109f'>
            <File Id='Qt5WidgetsDLL' Name='Qt5Widgets.dll' DiskId='1'
                  Source='cache/Qt5Widgets.dll' KeyPath='yes' />
          </Component>

		  <Component Id='icudt54DLL' Guid='669b7856-7345-4649-8203-bba8896e199a'>
            <File Id='icudt54DLL' Name='icudt54.dll' DiskId='1'
                  Source='cache/icudt54.dll' KeyPath='yes' />
          </Component>

		  <Component Id='icuuc54DLL' Guid='3e5f7cc1-2c35-4c74-a2a1-30f9e75f2494'>
            <File Id='icuuc54DLL' Name='icuuc54.dll' DiskId='1'
                  Source='cache/icuuc54.dll' KeyPath='yes' />
          </Component>

		  <Component Id='icuin54DLL' Guid='1ff8989c-6513-4c4f-8e1b-88ca61e8fdd4'>
            <File Id='icuin54DLL' Name='icuin54.dll' DiskId='1'
                  Source='cache/icuin54.dll' KeyPath='yes' />
          </Component>

		  <Component Id='libEGLDLL' Guid='7d3c9486-5bca-4492-8096-4a134c9e2850'>
            <File Id='libEGLDLL' Name='libEGL.dll' DiskId='1'
                  Source='cache/libEGL.dll' KeyPath='yes' />
          </Component>

		  <Component Id='libGLESv2DLL' Guid='0f994bb8-cddd-4f31-9ae0-88b21a682960'>
            <File Id='libGLESv2DLL' Name='libGLESv2.dll' DiskId='1'
                  Source='cache/libGLESv2.dll' KeyPath='yes' />
          </Component>

          <!-- C:/Program Files/QtSpim/imageformats: -->
          <Directory Id='IMAGEFORMATS' Name='imageformats'>
			<Component Id='qjpegDLL' Guid='f2db6006-fe39-4280-b338-2937d211bcad'>
              <File Id='qjpegDLL' Name='qjpeg.dll' DiskId='1'
					Source='cache/imageformats/qjpeg.dll' KeyPath='yes' />
			</Component>

			<Component Id='qsvgDLL' Guid='389a3776-1cae-4e71-ab85-3aed4df907c6'>
              <File Id='qsvgDLL' Name='qsvg.dll' DiskId='1'
					Source='cache/imageformats/qsvg.dll' KeyPath='yes' />
			</Component>
		  </Directory>

          <!-- C:/Program Files/QtSpim/platforms: -->
          <Directory Id='PLATFORMS' Name='platforms'>
			<Component Id='qwindowsDLL' Guid='68232292-ba0a-49c6-a85a-c041f2309c53'>
              <File Id='qwindowsDLL' Name='qwindows.dll' DiskId='1'
					Source='cache/platforms/qwindows.dll' KeyPath='yes' />
			</Component>
		  </Directory>

          <!-- C:/Program Files/QtSpim/sqldrivers: -->
          <Directory Id='SQLDRIVERS' Name='sqldrivers'>
			<Component Id='qsqliteDLL' Guid='f6341ea4-695a-4044-968a-dc7d9aef1d6a'>
              <File Id='qsqliteDLL' Name='qsqlite.dll' DiskId='1'
					Source='cache/sqldrivers/qsqlite.dll' KeyPath='yes' />
			</Component>

			<Component Id='qsqlodbcDLL' Guid='dadfba9d-05fe-4f49-9c5c-bd7a43321046'>
              <File Id='qsqlodbcDLL' Name='qsqlodbc.dll' DiskId='1'
					Source='cache/sqldrivers/qsqlodbc.dll' KeyPath='yes' />
			</Component>

			<Component Id='qsqlpsqlDLL' Guid='5ebdf968-1d03-4a24-aac1-226c1ce8c104'>
              <File Id='qsqlpsqlDLL' Name='qsqlpsql.dll' DiskId='1'
					Source='cache/sqldrivers/qsqlpsql.dll' KeyPath='yes' />
			</Component>
		  </Directory>


          <!-- C:/Program Files/QtSpim/help: -->
          <Directory Id='HELPDIR' Name='help'>
            <Component Id='Help' Guid='1923e35c-f1f0-45c4-9d0b-2e553c80e958'>
              <File Id='helpQCH' Name='qtspim.qch' DiskId='1' KeyPath='yes'
                    Source='cache/help/qtspim.qch' />
              <File Id='helpQHC' Name='qtspim.qhc' DiskId='1'
                    Source='cache/help/qtspim.qhc' />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='ProgramMenuDir' Name='QtSpim'>
          <Component Id='ProgramMenuDir' Guid='b887001d-041e-4837-8cc5-a39caea4b7ee'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string'
                           Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='DesktopFolder' Name='Desktop' />
    </Directory>

    <Feature Id='Complete' Level='1'>
	  <ComponentRef Id='QtSpimExecutable' />
	  <ComponentRef Id='QtAssistant' />
	  <ComponentRef Id='NewIcon' />
	  <ComponentRef Id='NewIcon256x256' />
	  <ComponentRef Id='HelloWorld' />
	  <ComponentRef Id='Qt5CLuceneDLL' />
	  <ComponentRef Id='Qt5CoreDLL' />
	  <ComponentRef Id='Qt5GuiDLL' />
	  <ComponentRef Id='Qt5HelpDLL' />
	  <ComponentRef Id='Qt5MultimediaDLL' />
	  <ComponentRef Id='Qt5MultimediaWidgetsDLL' />
	  <ComponentRef Id='Qt5NetworkDLL' />
	  <ComponentRef Id='Qt5OpenGLDLL' />
	  <ComponentRef Id='Qt5PositioningDLL' />
	  <ComponentRef Id='Qt5PrintSupportDLL' />
	  <ComponentRef Id='Qt5QmlDLL' />
	  <ComponentRef Id='Qt5QuickDLL' />
	  <ComponentRef Id='Qt5SensorsDLL' />
	  <ComponentRef Id='Qt5SqlDLL' />
	  <ComponentRef Id='Qt5WebChannelDLL' />
	  <ComponentRef Id='Qt5WebKitDLL' />
	  <ComponentRef Id='Qt5WebKitWidgetsDLL' />
	  <ComponentRef Id='Qt5WidgetsDLL' />
	  <ComponentRef Id='icudt54DLL' />
	  <ComponentRef Id='icuuc54DLL' />
	  <ComponentRef Id='icuin54DLL' />
	  <ComponentRef Id='libEGLDLL' />
	  <ComponentRef Id='libGLESv2DLL' />
	  <ComponentRef Id='qjpegDLL' />
	  <ComponentRef Id='qsvgDLL' />
	  <ComponentRef Id='qwindowsDLL' />
	  <ComponentRef Id='qsqliteDLL' />
	  <ComponentRef Id='qsqlodbcDLL' />
	  <ComponentRef Id='qsqlpsqlDLL' />
	  <ComponentRef Id='Help' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Icon Id='QtSpim.exe' SourceFile='cache/NewIcon.ico' />

</Product>
</Wix>
